extends layout

doctype html
html
    head
    body

        block content
            .col.s12.m4
                .card.shadow.blue.lighten-5#wokucard
                    .card-content.black-text
                        span.card-title.title Woku
                        hr
                        img#woku(src='/images/woku.png', alt='')
                        br
                        div.typed_wrap
                            span.typed#result
                        br
                        form(action='http://localhost:3000')
                            button.button#newsearch(type='submit')
                                span New Search

            h1.places Nearby Places
            ul.results
                each result, i in yelp_docs
                    li
                        .card.small.result
                            .card-image
                                img(src=result.yelp_image, alt='')
                                span.card-title.title.result
                                    a.result(href=result.yelp_url)=result.yelp_name
                            .card-content
                                p.address=result.yelp_venue
                                p.category=result.yelp_category

            h1.places Nearby Events
            ul.results
                each result, i in event_docs
                    li
                        .card.small.event
                            .card-image
                                img(src=result.event_logo_url, alt='')
                                span.card-title.title.result
                                    a.result(href=result.event_url)=result.event_name
                            .card-content
                                p=result.event_start
                                //p=result.event_address





