extends layout

doctype html
html
    head

    body
      block content
        .row
          .col.s12.m4
            .card.shadow.blue.lighten-5
              .card-content.black-text
                span.card-title.title Woku
                hr
                img#woku(src='/images/woku.png', alt='')
                br
                div.typed_wrap
                  span.typed
                br
                button.choice#start Let's Go!
          div#choices
            .col.s12.m4
              .card.shadow.blue.lighten-5
                .card-content.black-text
                  span.card-title.title Location
                  hr
                  p Where would you like to explore?
                  form
                    input#userCity(type="text",placeholder="Ex.Boston",name="city")
                    label.form State
                    input#userState(type="text",placeholder="Ex.MA",name="state")
                    label.form City
          div#budgets
            .col.s12.m4
              .card.shadow.blue.lighten-5
                .card-content.black-text
                  span.card-title.title Budget
                  hr
                  p What is your budget?
                  table.bordered#prices
                    tr
                      th Price Range
                      th Symbol
                    tr
                      td Under $10
                      td $
                    tr
                      td $10-$30
                      td $$
                    tr
                      td $30-60
                      td $$$
                    tr
                      td More than $60
                      td  $$$$

                  form
                    button.choice $
                    button.choice $$
                    button.choice $$$
                    button.choice $$$$

                  button.choice#apiCall(type='submit') Woku Search


        h1= "Welcome to Woku AI!"
        p What are you looking for?
        form#hello(name="addchoice", method="post",action='/addchoice')
          button.choice(
          name='choice'
          type='submit'
          value='food') Food
        form#hello(name="addchoice", method="post",action='/addchoice')
          button.choice(
          type='submit'
          name='choice'
          value='arts and entertainment') Arts and Entertainment

        button.choice(
        type='submit'
        onclick="if you plan to use single quotes here, use double quotes outer"
        ) Hotels and Travel
