extends layout

doctype html
html
    head

    body
      block content
        h1= "Welcome to Woku AI!"
        p What are you looking for?
        button(
        type='submit'
        onclick="if you plan to use single quotes here, use double quotes outer"
        ) Food
        button(
        type='submit'
        onclick="if you plan to use single quotes here, use double quotes outer"
        ) Arts and Entertainment

        button(
        type='submit'
        onclick="if you plan to use single quotes here, use double quotes outer"
        ) Hotels and Travel
