extends layout

doctype html
html
    head

    body
      block content
        .row
          .col.s12.m4
            .card.shadow.blue.lighten-5
              .card-content.black-text
                span.card-title.title Woku
                hr
                img#woku(src='/images/woku.png', alt='')
                br
                div.typed_wrap
                  span.typed
                br
                button.choice#start Let's Go!
        h1= "Welcome to Woku AI!"
        p What are you looking for?
        form#hello(name="addchoice", method="post",action='/addchoice')
          button.choice(
          name='choice'
          type='submit'
          value='food') Food
        form#hello(name="addchoice", method="post",action='/addchoice')
          button.choice(
          type='submit'
          name='choice'
          value='arts and entertainment') Arts and Entertainment

        button.choice(
        type='submit'
        onclick="if you plan to use single quotes here, use double quotes outer"
        ) Hotels and Travel
